// FONT-SIZE
$h5: 12px;
$h4: 14px;
$h3: 20px;
$h2: 30px;
$h1: 32px;

//FONT-WEIGHT
$fwLight: 300;
$fwMedium: 400;
$fwRegular: 500;
$fwBold: 700;

//TEXT-COLOR
$txtWhite: #fff;
$txtOrange: #fbbd61;
$txtDarkOrange: #ec7532;
$txtGrey: rgba(0,0,0,.7);
$txtDark: #333;
$txtBlue: #38729f;

//BACKGROUND
$white: #fff;
$light: #d8d8d85b;
$darkGrey: #4a4a4a;
$dark: #101010;
$blue: #38729f;
$lightBlue: #5aaceb;
$dark90: rgba(16, 16, 16, 0.90);
$black90: rgba(0, 0, 0, 0.9);
$linearGradient: linear-gradient( to left, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));